*,
*:after,
*::before {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc {
  width: 300px;
  background-color: #a0d0ea;
  padding: 10px;
}
.output {
  text-align: right;
  padding: 10px;
  height: 80px;
  background-color: white;
  font-size: 20px;
}
.buttons {
  padding: 10px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 60px);
  /* grid-column-gap: 12px; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.btn {
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  margin: 0 0 12px;
  cursor: pointer;
}

.btn:nth-child(-n13) {
  margin: 0;
}
